@import 'tailwindcss';

@theme {
  --color-primary-bgDark: #0f0f0f;
  --color-primary-textDark: #fafafa;
}

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Sora';
  src: url('../../public/font/Sora-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Sora', sans-serif;
}
