---
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class='bg-black py-8 px-6 text-white'>
  <div
    class='max-w-[1200px] mx-auto flex flex-col md:flex-row md:items-center md:justify-between gap-6'
  >
    <a href={lang === 'en' ? '/' : `/${lang}/`} class='flex items-center gap-3 w-fit'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='36'
        height='36'
        fill='none'
        viewBox='0 0 40 40'
      >
        <path
          fill='currentColor'
          d='M31.53 14.212c0 4.67-2.768 8.696-6.75 10.523a7.576 7.576 0 0 0-4.667-13.415c-.056-.003-.105-.003-.16-.003s-.104 0-.16.003a2.894 2.894 0 0 0-2.734 2.89v14.471a8.685 8.685 0 0 1-8.683 8.683V14.212c0-6.393 5.185-11.577 11.577-11.577S31.529 7.82 31.529 14.212'
        ></path>
        <path
          fill='currentColor'
          d='M22 16.258a2.894 2.894 0 1 0-4.094-4.093A2.894 2.894 0 0 0 22 16.258'
        ></path>
      </svg>

      <span class='font-bold text-xl'>juanfe.dev</span>
    </a>

    <p class='text-sm text-zinc-500 dark:text-zinc-400'>
      © {new Date().getFullYear()} Juanfeoru. {t('footer.rights')}
    </p>
  </div>
</footer>
