---
import Sun from '../../assets/icons/Sun.astro';
import Moon from '../../assets/icons/Moon.astro';
---

<button
  class='theme-toggle cursor-pointer text-black dark:text-primary-textDark'
>
  <span class='block dark:hidden'>
    <Moon />
  </span>

  <span class='hidden dark:block'>
    <Sun />
  </span>
</button>

<script>
  function switchTheme() {
    const html = document.documentElement;

    html.classList.toggle('dark');

    if (html.classList.contains('dark')) {
      localStorage.setItem('theme', 'dark');
    } else {
      localStorage.setItem('theme', 'light');
    }
  }

  function toggleTheme() {
    if (!document.startViewTransition) {
      switchTheme();
      return;
    }

    document.startViewTransition(() => switchTheme());
  }

  // Bind to all elements with class 'theme-toggle'
  document.querySelectorAll('.theme-toggle').forEach((btn) => {
    btn.addEventListener('click', toggleTheme);
  });
</script>
