---
import '../styles/global.css';
import Header from '../components/Header/Header.astro';
import Footer from '../components/Footer/Footer.astro';
---

<!doctype html>
<html lang='en' class='scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='icon' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <meta
      name='description'
      content='Portfolio of Juan Ortega, a Frontend Developer building modern, responsive, and user-friendly web applications.'
    />
    <title>Juan Ortega | Frontend Developer</title>

    <script is:inline>
      const theme = localStorage.getItem('theme');

      if (theme === 'dark') {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
  </head>
  <body
    class='bg-white text-neutral-900 dark:bg-primary-bgDark dark:text-primary-textDark'
  >
    <Header />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  ::view-transition-group(root) {
    animation-timing-function: var(--expo-out);
  }

  ::view-transition-new(root) {
    mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs><filter id="blur"><feGaussianBlur stdDeviation="2"/></filter></defs><circle cx="0" cy="0" r="18" fill="white" filter="url(%23blur)"/></svg>')
      top left / 0 no-repeat;
    mask-origin: content-box;
    animation: scale 1s;
    animation-fill-mode: both;
    transform-origin: top left;
  }

  ::view-transition-old(root),
  .dark::view-transition-old(root) {
    animation: scale 1s;
    animation-fill-mode: both;
    transform-origin: top left;
    z-index: -1;
  }

  @keyframes scale {
    to {
      mask-size: 350vmax;
    }
  }
</style>
